﻿<%@ Page Language="VB" MasterPageFile="~/empiremaster.master" AutoEventWireup="false" CodeFile="Default.aspx.vb" Inherits="Investors_Default" title="Investors" %>

<asp:Content ID="Content3" ContentPlaceHolderID="RightPlaceHolder" Runat="Server">
     <div style='float:right;margin:0 0 10px 10px'>
        <img id="Img1" src="~/images/landing/landing-investors.jpg" runat="server" alt=""/>
    </div>
    <div class="landingtext">
        <br />
        <asp:Label ID="txtList" runat="server" Text=""></asp:Label>        
    </div>    
</asp:Content>