<%@ Page Language="VB" MasterPageFile="~/empiremaster.master" AutoEventWireup="false" CodeFile="BrochuresAdvertisements.aspx.vb" Inherits="CustomerService_BrochuresAdvertisements" title="Brochures and Advertisements" %>

<asp:Content ID="Content3" ContentPlaceHolderID="RightPlaceHolder" Runat="Server">
     <div style='float:right;margin-left:5px'>
        <asp:Image ID="imgBrochures" Imageurl="~/images/landing/landing-brochures.jpg" runat="server" />
    </div>
    <div class="landingtext">
        <br />
        <asp:Label ID="txtList" runat="server" Text=""></asp:Label>        
    </div>
</asp:Content>

