<%@ Page Language="VB" MasterPageFile="~/empiremaster.master" AutoEventWireup="false" CodeFile="default.aspx.vb" Inherits="customerservice_default" title="Customer Service" %>
<asp:Content ID="Content3" ContentPlaceHolderID="RightPlaceHolder" runat="server">
     <div style='float:right;margin:0 0 10px 10px'>
        <asp:Image ID="imgCustomerService" Imageurl="~/images/landing/landing-customerservice.jpg" runat="server" />
    </div>
    <div class="landingtext">
            <br />
            <asp:Label ID="txtList" runat="server" Text=""></asp:Label>
        </div>
</asp:Content>