<%@ Page Language="VB" MasterPageFile="~/empiremaster.master" AutoEventWireup="false" CodeFile="PaymentInformation.aspx.vb" Inherits="CustomerService_PaymentInformation" title="Payment Information" %>

<asp:Content ID="Content3" ContentPlaceHolderID="RightPlaceHolder" Runat="Server">
     <div style='float:right;margin:0 0 10px 10px'>
        <asp:Image ID="imgPaymentInfo" Imageurl="~/images/landing/landing-paymentinfo.jpg" runat="server" />
    </div>
    <div class="landingtext">
        <br />
        <asp:Label ID="txtList" runat="server" Text=""></asp:Label>        
    </div>
</asp:Content>
