<%@ Page Language="VB" MasterPageFile="~/empiremaster.master" AutoEventWireup="false" CodeFile="TermsofService.aspx.vb" Inherits="TermsofService" title="Terms of Service" %>

<asp:Content ID="Content3" ContentPlaceHolderID="RightPlaceHolder" Runat="Server">
    This Web site has been prepared solely for the purpose of providing information about The Empire District Electric Company. This Web site has been compiled in good faith by The Empire District Electric Company; however, no representation is made as to the completeness or accuracy of the information it contains. In particular, you should be aware that this information may be incomplete, may contain errors, or may become out of date. The Company makes no commitment, and disclaims any duty, to update any of the information contained at this Web site or in any of the Company's news releases and Securities and Exchange Commission filings referred to in this Web site. The Company reserves the right to add, modify or delete any information at this Web site at any time.
    <br /><br />
    <b>THE INFORMATION PROVIDED IN THIS WEB SITE AND RELATED COMMUNICATIONS ARE PROVIDED ON AN "AS IS" BASIS FOR INFORMATION PURPOSES ONLY. IN ADDITION, ALL WARRANTIES ARE HEREBY DISCLAIMED, INCLUDING THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES, SO THE ABOVE EXCLUSION MAY NOT APPLY TO YOU.</b>
    <br /><br />
    In addition, the Company makes no representations whatsoever about any other Web site which you may access through hypertext links at this Web site. When you access a non-Empire Web site, please understand that it is independent from the Company, and that the Company has no control over the content of that Web site. In addition, a link to a non-Empire Web site does not mean that the Company endorses or accepts any responsibility for the content, or the use, of such Web site. It is up to you to take precautions to ensure that whatever you select for your use is free of such items as viruses, worms, Trojan horses and other items of a destructive nature. <b>IN NO EVENT WILL THE COMPANY BE LIABLE TO ANY PARTY FOR ANY DIRECT, INDIRECT, SPECIAL OR OTHER CONSEQUENTIAL DAMAGES FOR ANY USE OF THIS WEB SITE, OR ON ANY OTHER HYPERTEXT LINKED WEB SITE, INCLUDING, WITHOUT LIMITATION, ANY LOST PROFITS, BUSINESS INTERRUPTION, LOSS OF PROGRAMS OR OTHER DATA ON YOUR INFORMATION HANDLING SYSTEM OR OTHERWISE, EVEN IF WE ARE EXPRESSLY ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</b>
    <br /><br />
    Please also see our
    <a href="~/Investors/legaldisclosure.aspx" runat="server">Forward-Looking Statements</a> area.
</asp:Content>

