<%@ Page Language="VB" MasterPageFile="~/empiremaster.master" AutoEventWireup="false" CodeFile="default.aspx.vb" Inherits="Safety" title="Safety" %>

<asp:Content ID="Content3" ContentPlaceHolderID="RightPlaceHolder" Runat="Server">
    <div style='float:right;margin:0 0 10px 10px'>
        <asp:Image ID="SafetyMain" Imageurl="~/images/landing/landing-safety.jpg" runat="server" />
    </div>

    <div class="landingtext">
        <br />
        <asp:Label ID="txtList" runat="server" Text=""></asp:Label>        
    </div>    
</asp:Content>
