﻿html {height:100%;min-height:100%}
body {width:100%;height:100%;min-height:100%;margin:0;padding:0;color:#222;font:0.8em arial,verdana,sans-serif;background-color:#f5f5f5;/*background: transparent url(images/bg-ios-tile.jpg) repeat;*/}
a, a:link, a:visited{color:#113962;text-decoration:none}
.content{margin:0 auto 0px;overflow:auto;padding:5px;}
.footer {margin:0;padding:0;white-space:nowrap;text-align:center;height:40px;width:100%;background:#113962 url(images/footer-bg-mobile.jpg) repeat-X left bottom;}
.footer li a {display:block;position:relative;text-decoration:none;color:#fff;}
.footer table, th, td {padding:0}
.header {height:35px;padding:2px;background-color:#113962;color:#ffffff;background:#113962 url(images/header-bg-mobile.jpg) repeat-X left top;}
.header a, .header a:visited{color:#fff;text-decoration:none}
.h4 {font-size:1.1em;font-weight:bold}

/* Two column layout */
.col-grid-a, .col-grid-b, .col-grid-c, .col-grid-d { overflow: hidden; }
.col-block-a, .col-block-b { margin: 0; padding: 0; border: 0; float: left; min-height: 1px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
.col-grid-a .col-block-a, .col-grid-a .col-block-b { width: 49.95%; }
.col-grid-a > :nth-child(n) { width: 50%; margin-right: -.5px; }
.col-grid-a .col-block-a { clear: left; }
/* end two column layout */

.nav-icon {font-family:FontAwesome;font-size:1.5em;text-decoration:none}
.nav-footer-icon{font-family:FontAwesome;font-size:2em;font-weight:normal}
.mobile-list-divider {vertical-align:middle;text-align:center}
.data-table {width:100%;border-width:thin;border-collapse:collapse;background-color:#F5f5f5}
.data-table td, th {border:1px solid #adadad;padding:3px;vertical-align:middle;text-align:center}
.data-table th {background-color:#113962;color:#fff}
.data-list {font-size:.8em;font-weight:normal}
.nav-table {display:table;border-collapse:collapse;border-spacing:0}
.fullwidth {width:100%;}
.nospace {white-space:nowrap}
.cellpadding {padding:5px;}
.center {margin-left:auto;margin-right:auto;}
.trcenter {display:table-row;vertical-align:middle/*padding:5px*/}
.tdleft {display:table-cell;vertical-align:middle;text-align:left}
.tdright {display:table-cell;vertical-align:middle;text-align:right}
.tdcenter {display:table-cell;padding:2px;vertical-align:middle;text-align:center;padding:5px}
.disabled {font-weight:normal;color:#adadad}

/* field validation -- red */
.field-validation-error {color: #ff0000;}
.field-validation-valid {display: none;}
.input-validation-error {border: 1px solid #ff0000;background-color: #ffeeee;}
.validation-summary-errors, .validation-summary-errors ul {font-weight: bold;color: #ff0000;list-style-type:none;}
.validation-summary-valid {display: none;}
/* end field validation */

/* method to load background image -- themes f and g */
.ui-page {background: transparent url(images/bg-ios-tile.jpg) repeat;}
/* end backgroud */

/* method to change font on buttons */
.mobile-footer .ui-btn-text {font-size:.7em; /* Play with font size of the text */}
/* end button method */

/* method to sticky the footer */
.ui-content {margin-bottom:40px /* Set this to whatever your footer size is... */}
.ui-footer {position:absolute !important;bottom:0;width:100%}
/* end sticky footer */