<%@ Page Language="VB" MasterPageFile="~/empiremaster.master" AutoEventWireup="false" CodeFile="default.aspx.vb" Inherits="EnergySolutions_default" title="Smart Energy Solutions" %>

<asp:Content ID="Content3" ContentPlaceHolderID="RightPlaceHolder" Runat="Server">
     <div style='float:right;margin:0 0 10px 10px'>
        <asp:Image ID="EnergySolutionsMain" Imageurl="~/images/landing/landing-energysolutions.jpg" runat="server" />
    </div>
    <div class="landingtext">
    <br />
        <asp:Label ID="txtList" runat="server" Text=""></asp:Label>
    </div>
</asp:Content>

