﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    /*max-width: 280px; */
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

.no-border {border: 0;box-shadow: none;}
.navbar-brand {width: 80px;height: 50px;background: url(../Content/images/logo.png) left center no-repeat;text-indent: -99999px;}
/*.navbar-custom {min-height:30px !important;background-color:#113962;color:#fff!important}
.navbar-custom .navbar-toggle {border-color:#113962}
.navbar-custom .navbar-toggle .icon-bar {background-color:#fff}
.navbar-custom .navbar-toggle:hover,.navbar-custom .navbar-toggle:focus {background-color:#113962;border-color:#113962}
.navbar-custom .navbar-toggle:hover .icon-bar,.navbar-custom .navbar-toggle:focus .icon-bar {background-color:#fff;border-color:#113962}*/
.jumbotron {margin-bottom: 0px;background-image: url(images/Blurry-Blue-Background.jpg);background-position: 0% 25%;background-size: cover;background-repeat: no-repeat;color: white;text-shadow: black 0.3em 0.3em 0.3em;}

.table-no-border>thead>tr>th, .table-no-border>tbody>tr>th, .table-no-border>tfoot>tr>th, .table-no-border>thead>tr>td, .table-no-border>tbody>tr>td, .table-no-border>tfoot>tr>td {border-top: none !important;}

.pagination-ys {/*display: inline-block;*/padding-left: 0;margin: 20px 0;border-radius: 4px;}
.pagination-ys table > tbody > tr > td {display: inline;}
.pagination-ys table > tbody > tr > td > a,
.pagination-ys table > tbody > tr > td > span {position: relative;float: left;padding: 8px 12px;line-height: 1.42857143;text-decoration: none;color: #dd4814;background-color: #ffffff;border: 1px solid #dddddd;margin-left: -1px;}
.pagination-ys table > tbody > tr > td > span {position: relative;float: left;padding: 8px 12px;line-height: 1.42857143;text-decoration: none;margin-left: -1px;z-index: 2;color: #aea79f;background-color: #f5f5f5;border-color: #dddddd;cursor: default;}
.pagination-ys table > tbody > tr > td:first-child > a, .pagination-ys table > tbody > tr > td:first-child > span {margin-left: 0;border-bottom-left-radius: 4px;border-top-left-radius: 4px;} 
.pagination-ys table > tbody > tr > td:last-child > a, .pagination-ys table > tbody > tr > td:last-child > span {border-bottom-right-radius: 4px;border-top-right-radius: 4px;} 
.pagination-ys table > tbody > tr > td > a:hover, .pagination-ys table > tbody > tr > td > span:hover, .pagination-ys table > tbody > tr > td > a:focus, .pagination-ys table > tbody > tr > td > span:focus {color: #97310e;background-color: #eeeeee;border-color: #dddddd;}

/*style sitemap control to match bootstrap breadcrumb*/
.breadcrumb > span > span a {text-decoration: none;/*color:#00a9c6*/}
.breadcrumb > span > span a:hover {text-decoration:underline}
.breadcrumb > span > span.active {color: #777}
.breadcrumb > span > span.path {color: #d1d1d1;padding: 0 5px}