﻿html,form{height:100%;}
body{height:100%;margin:0;padding:0;background:#b0c4de url(images/navigation/body_bg.jpg) left top repeat-x;color:#222;font:0.8em arial,verdana,sans-serif;}
a {color:#113962;}
a visited{color:#113962;}

.heading{font-size:1.4em;font-weight:bold;padding:0;margin:0;}
.pagecontainer{width:100%;min-height:100%;/*IE6 hack for sticky footer_*/ _display:table;_height:100%}
.header{width:100%;min-width:960px;background:#113962;color:#113962;border-bottom:3px solid #113962; background: url(images/navigation/header-bg.jpg) repeat-X left top;}
.header a {color:#fff;text-decoration:underline;}
.header a:hover{color:#ffffaa}
.headercontent{width:960px;margin:0 auto 0px;/*overflow:auto;*/}
.content{width:960px;margin:0 auto 0px;overflow:auto;padding-bottom:60px;/*height of footer */}
.rightcol{width:750px;background-color:#f5f5f5;padding:5px;}
.leftcol{width:200px;background-color:#36587a;padding:0;}
.footer {clear:both;width:100%;min-width:960px;margin-top:-60px;height:60px;text-align:center;color:#fff;background:#113962 url(images/navigation/footer-bg.jpg) repeat-X left top;}
.footer a {color:#fff;text-decoration:none;}
.footer a:hover {color:#FFFFAA;text-decoration:none;}                
.logout {position:relative;text-align:right;color:white;background-color:transparent;padding-right:5px;}
.logout a {color:#FFFFAA;text-decoration:underline;}
.landingtext{width:auto;padding-left:0px;}
.landingtext a{color:#113962;font-weight:bold;}
.sectionheader{color:#113962;font-weight:bolder;font-size:1.2em;}
.modalBackground {background-color:#b0c4de;filter:alpha(opacity=60);opacity:0.60;}
.icon{border: 0px solid transparent;background:transparent;background-color:transparent;vertical-align:middle}
.links a {display:block;text-decoration:none;border:solid 1px #f5f5f5;padding:1px;margin:0}
.links a:hover {background:#FFFFAA;border:solid 1px #113962;}
.links img{border: 1px solid transparent;}

/* Equal Height Columns with Cross-Browser CSS layout
.rightcontainer{float:left;width:100%;background:#f5f5f5;overflow:hidden;position:relative;}
.leftcontainer{float:left;width:100%;background:#36587a;position:relative;right:760px;}
.rightcol{float:left;width:750px;position:relative;overflow:hidden;left:770px;padding:5px 0 5px 0;}
.leftcol{float:left;width:196px;position:relative;overflow:hidden;left:764px;padding:2px 0 2px 0;}*/
/* End Equal Height Columns Style sheet */

/* Header FadeMenu */
#fadeMenu {margin:0;padding:0;list-style:none;white-space:nowrap;text-align:center;font:bold 1em verdana,arial,sans-serif;line-height:35px;width:570px;}
#fadeMenu li {float:left;background:url(images/navigation/fademenu_default.jpg) no-repeat center center;width:140px;height:35px;border-left:1px solid #000;border-right:1px solid #000;border-top:1px solid #000;border-bottom:1px solid #000;position:relative;}
#fadeMenu li a {z-index:20;display:block;height:35px;position:relative;color:#777;text-decoration:none;color:#000;}
#fadeMenu li .hover {position:absolute;width:140px;height:35px;left:0;top:0;z-index:0;display:none;background:url(images/navigation/fademenu_hover.jpg) no-repeat center center;}
#fadeMenu li.selected {background:url(images/navigation/fademenu_hover.jpg) no-repeat center center;}
/* End Header FadeMenu Style sheet */

/* Fade SideMenu */
#sideMenu {margin:0;padding:0;list-style:none;white-space:nowrap;text-align:center;font:bold 1em verdana,arial,sans-serif;line-height:35px;border-top:0px solid #36587a;}
#sideMenu li {position:relative;top:0;left:0;bottom:0;width:196px;height:35px;background:url(images/navigation/sidemenu_default.jpg) repeat-x center center;/*background-color:#b0c4de;*/border-left:2px solid #36587a;border-right:2px solid #36587a;border-bottom:2px solid #36587a;}
#sideMenu li a {z-index:20;display:inline-block;position:relative;color:#777;text-decoration:none;color:#113962;width:196px;}
#sideMenu li .hover {position:absolute;width:196px;height:35px;left:0;top:0;bottom:0;z-index:0;display:none;background:#FFFFAA url(images/navigation/fademenu_hover.jpg) no-repeat center center;}
#sideMenu li.selected {background:url(images/navigation/fademenu_hover.jpg) no-repeat center center;}
/* End Fade SideMenu Style sheet */

/* Gridview Paging */
.paging {padding:1em;margin:1em 0;font-size:.8em;}
.paging a {text-decoration:none;color:#113962;display:block;padding:0.2em 0.5em;margin-right:0.1em;border:1px solid #b0c4de;background:transparent;color:#fff;}
.paging span {text-decoration:none;color:#113962;display:block;padding:0.2em 0.5em;margin-right:0.1em;border:1px solid #b0c4de;background-color:#b0c4de;}
.paging a:hover {border-color:#b0c4de;background:#FFFFAA;color:#113962;}
.paging td {margin:0;padding:0;}
/* End Gridview Paging Style sheet */

/*Tab Style*/
.customTabXP .ajax__tab_header {font-family:arial,verdana,sans-serif;font-size:1em; background:url(images/navigation/tab-line.gif) repeat-x bottom;text-align:left;}
.customTabXP .ajax__tab_header .ajax__tab_outer {padding-right:4px;background:url(images/navigation/tab-right.gif) no-repeat right;height:21px;}
.customTabXP .ajax__tab_header .ajax__tab_inner {padding-left:3px;background:url(images/navigation/tab-left.gif) no-repeat;}
.customTabXP .ajax__tab_header .ajax__tab_tab {height:13px;padding:4px;margin:0;background:url(images/navigation/tab.gif) repeat-x;}
.customTabXP .ajax__tab_hover .ajax__tab_outer {background:url(images/navigation/tab-hover-right.gif) no-repeat right;}
.customTabXP .ajax__tab_hover .ajax__tab_inner {background:url(images/navigation/tab-hover-left.gif) no-repeat;}
.customTabXP .ajax__tab_hover .ajax__tab_tab {background:url(images/navigation/tab-hover.gif) repeat-x;}
.customTabXP .ajax__tab_active .ajax__tab_outer {background:url(images/navigation/tab-active-right.gif) no-repeat right;}
.customTabXP .ajax__tab_active .ajax__tab_inner {background:url(images/navigation/tab-active-left.gif) no-repeat;}
.customTabXP .ajax__tab_active .ajax__tab_tab {background:url(images/navigation/tab-active.gif) repeat-x;}
.customTabXP .ajax__tab_body {font-family:arial,verdana,sans-serif;font-size:1em;border:1px solid #999999;border-top:0;padding:8px;background-color:#f5f5f5;}
/* End Tab Style sheet */

/* Oval Buttons */
a.ovalbutton{display:block;float:left;line-height:16px;height:24px;text-decoration:none;padding-left:11px;background: transparent url('images/navigation/buttonoval-blue-left.gif') no-repeat top left;}
a:link.ovalbutton, a:visited.ovalbutton, a:active.ovalbutton{color: #494949;}
a.ovalbutton span{display: block;padding: 4px 11px 4px 0;background: transparent url('images/navigation/buttonoval-blue-right.gif') no-repeat top right;}
a.ovalbutton:hover{background-position: bottom left;}
a.ovalbutton:hover span{background-position: bottom right;color: black;}
/* End Oval Buttons Style sheet */


.forecasttable th, .forecasttable td {padding:3px;}
.forecasttable th {margin: 0 auto;background-color:#c5c5c5;font-weight:bold}
.forecasttable .right {text-align:right}
.forecasttable .center {text-align:center}
.forecasttable .vcenter {vertical-align:middle}
.forecasttable {}
/*.forecasttable {border-collapse:separate;border-spacing:3px;width:100%}  /* cellspacing="3" */ 
.forecasttable {border-collapse:collapse;border-spacing:0}  /* cellspacing="0" */
.forecasttable th, .forecasttable td { vertical-align: top;vertical-align:middle }