<%@ Page Language="VB" MasterPageFile="~/empiremaster.master" AutoEventWireup="false" CodeFile="TermsofService.aspx.vb" Inherits="TermsofService" title="Terms of Service" %>

<asp:Content ID="Content3" ContentPlaceHolderID="RightPlaceHolder" Runat="Server">
    <p>
        This website has been prepared solely for the purpose of providing information about The Empire District Electric Company. This website has been compiled in good faith by The Empire District Electric Company; however, no representation is made as to the completeness or accuracy of the information it contains. In particular, you should be aware that this information may be incomplete, may contain errors, or may become out of date. The Company makes no commitment, and disclaims any duty, to update any of the information contained at this website or in any of the Company's news releases and Securities and Exchange Commission filings referred to in this website. The Company reserves the right to add, modify or delete any information at this website at any time.
        <br /><br />
        <b>THE INFORMATION PROVIDED IN THIS WEBSITE AND RELATED COMMUNICATIONS ARE PROVIDED ON AN "AS IS" BASIS FOR INFORMATION PURPOSES ONLY. IN ADDITION, ALL WARRANTIES ARE HEREBY DISCLAIMED, INCLUDING THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES, SO THE ABOVE EXCLUSION MAY NOT APPLY TO YOU.</b>
        <br /><br />
        In addition, the Company makes no representations whatsoever about any other website which you may access through hypertext links at this website. When you access a non-Empire website, please understand that it is independent from the Company, and that the Company has no control over the content of that website. In addition, a link to a non-Empire website does not mean that the Company endorses or accepts any responsibility for the content, or the use, of such website. It is up to you to take precautions to ensure that whatever you select for your use is free of such items as viruses, worms, Trojan horses and other items of a destructive nature. <b>IN NO EVENT WILL THE COMPANY BE LIABLE TO ANY PARTY FOR ANY DIRECT, INDIRECT, SPECIAL OR OTHER CONSEQUENTIAL DAMAGES FOR ANY USE OF THIS WEBSITE, OR ON ANY OTHER HYPERTEXT LINKED WEBSITE, INCLUDING, WITHOUT LIMITATION, ANY LOST PROFITS, BUSINESS INTERRUPTION, LOSS OF PROGRAMS OR OTHER DATA ON YOUR INFORMATION HANDLING SYSTEM OR OTHERWISE, EVEN IF WE ARE EXPRESSLY ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</b>
   </p>
</asp:Content>

