<%@ Page Language="VB" MasterPageFile="~/empiremaster.master" AutoEventWireup="false" CodeFile="Default.aspx.vb" Inherits="Fun_Default" title="Fun" %>
<%@ Register Assembly="FlashControl" Namespace="Flash" TagPrefix="cc1" %>

<asp:Content ID="Content3" ContentPlaceHolderID="RightPlaceHolder" Runat="Server">

</asp:Content>