﻿<div class="header">
    <div class="col-grid-a">
        <div class="col-block-a" style="font-size:.8em;white-space:nowrap">
            <img src="@Url.Content("~/Content/images/empirelogo-mobile-small.png")" alt="" /><b><i>SERVICES YOU COUNT ON</i></b>
        </div>
        <div class="col-block-b" style="text-align:right;padding-top:10px;">
        </div>
    </div>
</div>