﻿@Code
    Dim gv As New mobile.Helpers.globalVal
    If gv.IsMobileApp Then  'only display header on true mobile browser -- not our developed app
    Else End Code
    <div data-role="header" data-theme="f" style="height:40px">
        <span class="ui-btn-left" style="font-size:.8em"><img src="@Url.Content("~/Content/images/empirelogo-mobile-small.png")" alt="" /><i class="mobile-header">SERVICES YOU COUNT ON</i></span>
        <table class="ui-btn-right">
            <tr>
@code 
        Dim currentAction As String = ViewContext.Controller.ValueProvider.GetValue("action").RawValue
        Dim currentController As String = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue
        If (currentAction = "Index" And currentController = "Home") Then
        Else
End Code
                <td><a href='@Url.Action("Index", "Home")' data-mini="true" data-rel="back" style="color:#fff"><i class="icon-arrow-left nav-icon"></i>&nbsp;Back</a></td>
@code End If End Code
            </tr>
        </table>
    </div>
@Code End If End Code