﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="OutageRadar.aspx.vb" Inherits="OutageRadar" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Local Area Radar</title>
    <style type="text/css">    
        body{padding:3px;margin:0px;color:#222;font: 80% Arial;background-color:white;/*background-color:silver*/}
    </style>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbJ0uBkGA_ZknD00z0ioYkcBL9sZ7e-z8&sensor=false"></script>
    <asp:Literal ID="gmapInitOutageArea" runat="server" Text="" />
</head>
<body>
    <form id="form1" runat="server">
        <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
        <div id="container" style="width:640px;border:1px solid #113962;">
            <asp:Image ID="imgNOAA" runat="server" AlternateText="" ToolTip="Radar powered by NOAA at weather.gov" Width="504px" Height="480px" Visible="false"/>
            <div id="header" style="width:100%;height:10px;background-color:#113962;color:White;text-align:center;">&nbsp;</div>
            <div id="map_canvas" style="position:relative;top:0px;left:0px;"></div>
            <img id="RadarImage" src="" alt="" style="display:none;" />
            <div id="footer" style="width:100%;background-color:#113962;color:White;text-align:center;font-weight:bold">&nbsp;
                <asp:Label ID="lblOutageInfo" runat="server" Text=' ' />
            </div>
        </div>
    </form>
</body>
</html>

<script type="text/javascript">
    function queryst(ji) {
        hu = window.location.search.substring(1);
        gy = hu.split("&");
        for (i = 0; i < gy.length; i++) {
            ft = gy[i].split("=");
            if (ft[0] == ji) {
                return ft[1]; }
        }
    }
    
    function ActiveTabChanged(sender, e) {
        __doPostBack(sender.get_id(), sender.get_activeTabIndex());
    }

    function pageLoad(sender, args) {
        var tabIndex = queryst("i");
        if (tabIndex == 2) {
            loadGoogleMap(); addRadar();
        }
    }
    
    function pageUnload(sender, args) {
        Unload();
    }

    var map;
    var strictBounds = null;
    var tabIndex = 0;
    var Opacity = 25;  //default opacity for radar
    var Wrap = 10;  //default number of images to animate per radar
    var latitude = '37.182202';   //default Joplin
    var longitude = '-93.999023';  //default Joplin
    var zipcode = '64801';  //default Joplin
    var Ridge = ["SGF", "INX"];  //default Springfield & Tulsa
    var Radar = [];
    var imgSource = [];
    var Product = "N0R";  //default product
    var getbounds;
    var bounds;
    var swBound;
    var neBound;

    function loadGoogleMap() {
        try {

            var mapOptions = {
                center: new google.maps.LatLng(latitude, longitude),
                zoom: 8,
                mapTypeId: google.maps.MapTypeId.TERRAIN,
                disableDefaultUI: false,
                scrollwheel: false,
                disableDoubleClickZoom: false,
                panControl: false,
                draggable: false,
                streetViewControl: false
            };

            d = document.getElementById('map_canvas');
            d.style.width = '640px';
            d.style.height = '480px';
            map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);

            google.maps.event.addListener(map, 'zoom_changed', function () {
                if (map.getZoom() > 12) {
                    map.setZoom(12);
                    map.setCenter(new google.maps.LatLng(latitude, longitude));
                }
                if (map.getZoom() < 8) {
                    map.setZoom(8);
                    map.setCenter(new google.maps.LatLng(latitude, longitude));
                }
            });

            google.maps.event.addListener(map, 'bounds_changed', function () {
                if (strictBounds == null) {
                    strictBounds = map.getBounds();
                }
            });

            google.maps.event.addListener(map, 'center_changed', function () {
                if (strictBounds.contains(map.getCenter())) return;
                map.setZoom(8);
                map.setCenter(new google.maps.LatLng(latitude, longitude));
            });


            initialize();
        }
        catch (E) { alert(E.message); }
    }

    function addRadar() {
        for (var i = 0; Ridge[i]; i++) {
            getbounds = BBox(Ridge[i], Product);
            swBound = new google.maps.LatLng(getbounds.y1, getbounds.x1);
            neBound = new google.maps.LatLng(getbounds.y0, getbounds.x0);
            bounds = new google.maps.LatLngBounds(swBound, neBound);
            var d = new Date();
            var srcImage = document.getElementById("RadarImage").src = 'RadarImage.ashx?product=' + Product + '&rid=' + Ridge[i] + '&frames=' + Wrap + '&rnd=' + Math.random();
            Radar[i] = new USGSOverlay(bounds, srcImage, map, Opacity, 99);
        }
    }

    function Unload() {
        GUnload();
    }


    USGSOverlay.prototype = new google.maps.OverlayView();

    function USGSOverlay(bounds, image, map, opacity, zindex) {

        // Now initialize all properties.
        this.bounds_ = bounds;
        this.image_ = image;
        this.map_ = map;
        this.opacity_ = opacity;
        this.zindex_ = zindex;

        // We define a property to hold the image's div. We'll
        // actually create this div upon receipt of the onAdd()
        // method so we'll leave it null for now.
        this.div_ = null;

        // Explicitly call setMap on this overlay
        this.setMap(map);
    }

    USGSOverlay.prototype.onAdd = function () {

        // Note: an overlay's receipt of onAdd() indicates that
        // the map's panes are now available for attaching
        // the overlay to the map via the DOM.

        // Create the DIV and set some basic attributes.
        var div = document.createElement('div');
        div.style.borderStyle = 'none';
        div.style.borderWidth = '0px';
        div.style.position = 'absolute';
        div.style.zIndex = this.zindex_;

        // Create an IMG element and attach it to the DIV.
        var img = document.createElement('img');
        img.src = this.image_;
        img.style.width = '100%';
        img.style.height = '100%';
        img.style.position = 'absolute';
        div.appendChild(img);

        // Set the overlay's div_ property to this DIV
        this.div_ = div;
        this.setDivOpacity(this.opacity_);

        // We add an overlay to a map via one of the map's panes.
        // We'll add this overlay to the overlayLayer pane.
        var panes = this.getPanes();
        panes.overlayLayer.appendChild(div);
    }

    USGSOverlay.prototype.draw = function () {

        // Size and position the overlay. We use a southwest and northeast
        // position of the overlay to peg it to the correct position and size.
        // We need to retrieve the projection from this overlay to do this.
        var overlayProjection = this.getProjection();

        // Retrieve the southwest and northeast coordinates of this overlay
        // in latlngs and convert them to pixels coordinates.
        // We'll use these coordinates to resize the DIV.
        var sw = overlayProjection.fromLatLngToDivPixel(this.bounds_.getSouthWest());
        var ne = overlayProjection.fromLatLngToDivPixel(this.bounds_.getNorthEast());

        // Resize the image's DIV to fit the indicated dimensions.
        var div = this.div_;
        div.style.left = sw.x + 'px';
        div.style.top = ne.y + 'px';
        div.style.width = (ne.x - sw.x) + 'px';
        div.style.height = (sw.y - ne.y) + 'px';
    }

    USGSOverlay.prototype.onRemove = function () {
        this.div_.parentNode.removeChild(this.div_);
        this.div_ = null;
    }

    USGSOverlay.prototype.show = function () {
        if (this.div_) {
            this.div_.style.visibility = "visible";
        }
    }

    USGSOverlay.prototype.setDivOpacity = function (opacity) {
        if (opacity < 0) {
            opacity = 0;
        }
        if (opacity > 100) {
            opacity = 100;
        }
        var c = opacity / 100;
        if (typeof (this.div_.style.filter) == 'string') {
            this.div_.style.filter = 'alpha(opacity:' + opacity + ')';
        }
        if (typeof (this.div_.style.KHTMLOpacity) == 'string') {
            this.div_.style.KHTMLOpacity = c;
        }
        if (typeof (this.div_.style.MozOpacity) == 'string') {
            this.div_.style.MozOpacity = c;
        }
        if (typeof (this.div_.style.opacity) == 'string') {
            this.div_.style.opacity = c;
        }
    }

    function BBox(ridge, product) {
        var yx = {
            N0R:
	{
	    ABC: [64.835517, 56.735755, -157.448578, -166.284681],
	    ABR: [48.270508, 42.631241, -95.331912, -101.483839],
	    ABX: [37.565036, 32.726169, -104.179217, -109.457981],
	    ACG: [60.461814, 53.231040, -131.577368, -139.465485],
	    AEC: [69.093911, 59.913399, -160.277102, -170.292205],
	    AHG: [64.760112, 56.677196, -146.932788, -155.750514],
	    AIH: [63.344746, 55.565113, -142.050487, -150.537358],
	    AKC: [62.475546, 54.870627, -152.471947, -160.768223],
	    AKQ: [39.455939, 34.503058, -74.301929, -79.705072],
	    AMA: [37.650504, 32.806693, -99.062517, -104.346675],
	    AMX: [27.801004, 23.413018, -78.015566, -82.802459],
	    APD: [69.707350, 60.347639, -142.385187, -152.595781],
	    APX: [47.694534, 42.109314, -81.668440, -87.761408],
	    ARX: [46.559503, 41.076532, -88.195306, -94.176729],
	    ATX: [51.156440, 45.222770, -119.252062, -125.725156],
	    BBX: [42.051648, 36.925031, -118.807004, -124.399678],
	    BGM: [44.866266, 39.526025, -73.067287, -78.893004],
	    BHX: [43.095574, 37.892968, -121.448486, -127.124056],
	    BIS: [49.653369, 43.878131, -97.604622, -103.904882],
	    BLX: [48.688543, 43.009131, -105.502978, -111.698701],
	    BMX: [35.531168, 30.804239, -84.187375, -89.344024],
	    BOX: [44.611009, 39.291322, -68.231517, -74.034812],
	    BRO: [28.111632, 23.712370, -95.015402, -99.814597],
	    BUF: [45.646381, 40.241795, -75.784130, -81.680043],
	    BYX: [26.768932, 22.417156, -79.325351, -84.072743],
	    CAE: [36.329461, 31.559869, -78.513072, -83.716263],
	    CBW: [48.883011, 43.184631, -64.693612, -70.910026],
	    CBX: [46.212431, 40.759657, -113.254804, -119.203284],
	    CCX: [43.536138, 38.300343, -75.143350, -80.855126],
	    CLE: [44.045723, 38.770683, -78.977911, -84.732499],
	    CLX: [35.000443, 30.301010, -78.474401, -83.601054],
	    CRP: [30.016141, 25.543729, -95.067438, -99.946433],
	    CXX: [47.279556, 41.732361, -70.135214, -76.186700],
	    CYS: [43.774231, 38.520218, -101.935398, -107.667049],
	    DAX: [41.024068, 35.968740, -118.914954, -124.429858],
	    DDC: [40.258649, 35.254255, -97.233783, -102.693123],
	    DFX: [31.536875, 27.000879, -97.801696, -102.750055],
	    DGX: [34.615703, 29.935786, -87.427065, -92.532428],
	    DIX: [42.522523, 37.362092, -71.591531, -77.221092],
	    DLH: [49.722897, 43.940594, -89.050759, -95.358726],
	    DMX: [44.376700, 39.075660, -90.826704, -96.609657],
	    DOX: [41.360530, 36.282237, -72.665408, -78.205364],
	    DTX: [45.386552, 40.003663, -80.530985, -86.403228],
	    DVN: [44.252819, 38.961559, -87.690049, -93.462333],
	    DYX: [34.880381, 30.187082, -96.689750, -101.809712],
	    EAX: [41.343968, 36.266804, -91.490022, -97.028746],
	    EMX: [34.219871, 29.559654, -108.083824, -113.167697],
	    ENX: [45.267637, 39.894591, -71.128366, -76.989871],
	    EOX: [33.775034, 29.136530, -82.924690, -87.984876],
	    EPZ: [34.198338, 29.539189, -104.152408, -109.235117],
	    ESX: [38.132591, 33.260551, -112.229093, -117.544046],
	    EVX: [32.857391, 28.262253, -83.410381, -88.423259],
	    EWX: [31.977516, 27.422203, -95.539142, -100.508575],
	    EYX: [37.511496, 32.675711, -114.917901, -120.193302],
	    FCX: [39.497238, 34.541748, -77.566502, -82.972492],
	    FDR: [36.754119, 31.961166, -96.357302, -101.585979],
	    FDX: [37.034954, 32.226299, -101.001724, -106.247529],
	    FFC: [35.727322, 30.990063, -81.977736, -87.145655],
	    FSD: [46.313810, 40.852262, -93.745005, -99.703057],
	    FSX: [36.972198, 32.167068, -108.571650, -113.813610],
	    FTG: [42.355492, 37.207146, -101.732129, -107.348507],
	    FWS: [34.916298, 30.221169, -94.737753, -99.859713],
	    GGW: [51.168074, 45.233138, -103.381367, -109.855843],
	    GJX: [41.604976, 36.509761, -105.429157, -110.987574],
	    GLD: [41.919996, 36.802702, -98.904093, -104.486596],
	    GRB: [47.265939, 41.719980, -85.080889, -91.131027],
	    GRK: [33.019139, 28.416493, -94.868285, -99.889353],
	    GRR: [45.588975, 40.189210, -82.594763, -88.485416],
	    GSP: [37.290167, 32.467062, -79.584832, -84.846401],
	    GWX: [36.276013, 31.509319, -85.724655, -90.924683],
	    GYX: [46.630615, 41.141403, -67.257898, -73.246129],
	    HDX: [35.432593, 30.710822, -103.542198, -108.693221],
	    HGX: [31.740299, 27.195438, -92.595856, -97.553886],
	    HKI: [24.025431, 19.760813, -157.224961, -161.877271],
	    HKM: [22.232377, 18.017960, -153.478402, -158.075947],
	    HMO: [23.253328, 19.010958, -154.865122, -159.493162],
	    HNX: [38.764553, 33.854518, -116.948333, -122.304733],
	    HPX: [39.200971, 34.264051, -84.587650, -89.973381],
	    HTX: [37.339576, 32.513649, -83.447288, -88.711937],
	    HWA: [21.187943, 17.000443, -153.284108, -157.852290],
	    ICT: [40.148053, 35.150860, -94.712717, -100.164199],
	    ICX: [40.082936, 35.089985, -110.133034, -115.579889],
	    ILN: [41.975966, 36.854719, -81.023936, -86.610750],
	    ILX: [42.734240, 37.558352, -86.509081, -92.155504],
	    IND: [42.274591, 37.132059, -83.470306, -89.080341],
	    INX: [38.621204, 33.719883, -92.886099, -98.232995],
	    IWA: [35.651321, 30.918076, -109.082925, -114.246466],
	    IWX: [43.989540, 38.718879, -82.820300, -88.570111],
	    JAX: [32.775502, 28.184148, -79.193454, -84.202205],
	    JGX: [35.020961, 30.320491, -80.782832, -85.910617],
	    JKL: [40.082936, 35.089985, -80.585037, -86.031892],
	    LBB: [36.026280, 31.273076, -99.217025, -104.402339],
	    LCH: [32.408141, 27.833541, -90.716608, -95.707081],
	    LIX: [32.625061, 28.040604, -87.320216, -92.321442],
	    LNX: [44.613091, 39.293237, -97.669421, -103.472899],
	    LOT: [44.244492, 38.953889, -85.194406, -90.965973],
	    LRX: [43.345942, 38.124568, -113.949233, -119.645278],
	    LSX: [41.229030, 36.159755, -87.913331, -93.443449],
	    LTX: [36.370578, 31.598743, -75.821844, -81.027482],
	    LVX: [40.479904, 35.460968, -83.201836, -88.677039],
	    LWX: [41.514852, 36.425893, -74.697575, -80.249166],
	    LZK: [37.241796, 32.421437, -89.628333, -94.886905],
	    MAF: [34.270107, 29.607417, -99.641479, -104.728049],
	    MAX: [44.741225, 39.411086, -119.803809, -125.618506],
	    MBX: [51.365927, 45.409246, -97.609485, -104.107682],
	    MHX: [37.180046, 32.363198, -74.244248, -79.498993],
	    MKX: [45.666209, 40.259959, -85.597224, -91.494951],
	    MLB: [30.351949, 25.865896, -78.202983, -83.096859],
	    MOB: [32.975119, 28.374518, -85.726397, -90.745234],
	    MPX: [47.633729, 42.054124, -90.516509, -96.603351],
	    MQT: [49.400619, 43.650924, -84.406572, -90.678967],
	    MRX: [38.613983, 33.713104, -80.724338, -86.070752],
	    MSX: [49.937900, 44.133548, -110.813714, -117.145734],
	    MTX: [43.889678, 38.626754, -109.571528, -115.312900],
	    MUX: [39.632511, 34.668461, -119.184827, -124.600154],
	    MVX: [50.451645, 44.593704, -94.124431, -100.514912],
	    MXX: [34.879358, 30.186106, -83.225778, -88.345690],
	    NKX: [35.271403, 30.558024, -114.465782, -119.607649],
	    NQA: [37.765846, 32.915337, -87.222859, -92.514324],
	    OAX: [43.948970, 38.681452, -93.488018, -99.234400],
	    OHX: [38.695453, 33.789630, -83.882640, -89.234447],
	    OKX: [43.476892, 38.245599, -70.005810, -75.712675],
	    OTX: [50.613197, 44.738121, -114.416071, -120.825246],
	    PAH: [39.542673, 34.584314, -86.062936, -91.472055],
	    PBZ: [43.128805, 37.923727, -77.374137, -83.052404],
	    PDT: [48.517290, 42.854418, -115.758010, -121.935689],
	    POE: [33.462557, 28.839038, -90.449875, -95.493715],
	    PUX: [40.980598, 35.928215, -101.420561, -106.932252],
	    RAX: [38.095503, 33.225645, -75.829285, -81.141857],
	    RGX: [42.322306, 37.176341, -116.649430, -122.263211],
	    RIW: [45.768515, 40.353644, -105.518509, -111.425641],
	    RLX: [40.827451, 35.785383, -78.968197, -84.468635],
	    RTX: [48.542499, 42.877201, -119.868684, -126.049009],
	    SFX: [45.810279, 40.391868, -109.724575, -115.635569],
	    SGF: [39.715140, 34.745826, -90.684949, -96.106019],
	    SHV: [34.791121, 30.102354, -91.279232, -96.394250],
	    SJT: [33.683842, 29.049733, -97.960088, -103.015480],
	    SOX: [36.194813, 31.432530, -115.034063, -120.229281],
	    SRX: [37.710231, 32.862956, -91.713625, -97.001561],
	    TBW: [29.935526, 25.466348, -79.960204, -84.835671],
	    TFX: [50.379867, 44.529494, -108.187572, -114.569796],
	    TLH: [32.687486, 28.100175, -81.822663, -86.827002],
	    TLX: [37.753488, 32.903695, -94.628250, -99.918932],
	    TWX: [41.537639, 36.447109, -93.450722, -99.004027],
	    TYX: [46.489440, 41.012603, -72.687656, -78.662387],
	    UDX: [46.875430, 41.364550, -99.818058, -105.829927],
	    UEX: [42.910719, 37.721845, -95.606990, -101.267579],
	    VAX: [33.191151, 28.580464, -80.482887, -85.512728],
	    VBX: [37.243859, 32.423379, -117.762269, -123.020974],
	    VNX: [39.205103, 34.267923, -95.430503, -100.816517],
	    VTX: [36.805550, 32.009728, -116.558738, -121.790544],
	    VWX: [40.774690, 35.736146, -84.971122, -90.467715],
	    YUX: [34.836262, 30.145207, -112.092976, -117.210491]
	}
    ,
            N0Z:
	{
	    ABC: [64.785727, 56.785727, -157.503084, -166.230357],
	    ABR: [49.448729, 41.448729, -94.042093, -102.769366],
	    ABX: [39.142729, 31.142729, -102.452089, -111.179362],
	    ACG: [60.845728, 52.845728, -131.157091, -139.884364],
	    AEC: [68.504728, 60.504728, -160.922090, -169.649363],
	    AHG: [64.718729, 56.718729, -146.978090, -155.705363],
	    AIH: [63.454729, 55.454729, -141.930086, -150.657359],
	    AKC: [62.672728, 54.672728, -152.256090, -160.983363],
	    AKQ: [40.976728, 32.976728, -72.637094, -81.364367],
	    AMA: [39.225729, 31.225729, -97.338091, -106.065363],
	    AMX: [29.603727, 21.603727, -76.042093, -84.769366],
	    APD: [69.028730, 61.028730, -143.128084, -151.855357],
	    APX: [48.899729, 40.899729, -80.349092, -89.076365],
	    ARX: [47.815729, 39.815729, -86.820093, -95.547366],
	    ATX: [52.187727, 44.187727, -118.123094, -126.850367],
	    BBX: [43.488726, 35.488726, -117.261095, -125.988367],
	    BGM: [46.193727, 38.193727, -71.614092, -80.341364],
	    BHX: [44.491728, 36.491728, -119.920091, -128.647364],
	    BIS: [50.763727, 42.763727, -96.389093, -105.116366],
	    BLX: [49.846727, 41.846727, -104.235094, -112.962366],
	    BMX: [37.164728, 29.164728, -82.399088, -91.126360],
	    BOX: [45.948729, 37.948729, -66.767091, -75.494364],
	    BRO: [29.908728, 21.908728, -93.048090, -101.775362],
	    BUF: [46.941729, 38.941729, -74.366090, -83.093363],
	    BYX: [28.589727, 20.589727, -77.332094, -86.059367],
	    CAE: [37.941729, 29.941729, -76.748094, -85.475367],
	    CBW: [50.031729, 42.031729, -63.436090, -72.163363],
	    CBX: [47.483728, 39.483728, -111.863092, -120.590365],
	    CCX: [44.915728, 36.915728, -73.633089, -82.360361],
	    CLE: [45.405725, 37.405725, -77.489092, -86.216364],
	    CLX: [36.647726, 28.647726, -76.671091, -85.398363],
	    CRP: [31.776728, 23.776728, -93.140092, -101.867365],
	    CXX: [48.503729, 40.503729, -68.795091, -77.522364],
	    CYS: [45.144728, 37.144728, -100.435091, -109.162363],
	    DAX: [42.493727, 34.493727, -117.306093, -126.033366],
	    DDC: [41.753729, 33.753729, -95.597093, -104.324366],
	    DFX: [33.265728, 25.265728, -95.909090, -104.636362],
	    DGX: [36.272726, 28.272726, -85.613092, -94.340365],
	    DIX: [43.939726, 35.939726, -70.040094, -78.767367],
	    DLH: [50.829729, 42.829729, -87.839090, -96.566363],
	    DMX: [45.723726, 37.723726, -89.352090, -98.079363],
	    DOX: [42.818727, 34.818727, -71.069093, -79.796366],
	    DTX: [46.692728, 38.692728, -79.101091, -87.828364],
	    DVN: [45.604727, 37.604727, -86.210092, -94.937365],
	    DYX: [36.530725, 28.530725, -94.883089, -103.610361],
	    EAX: [42.802729, 34.802729, -89.893091, -98.620364],
	    EMX: [35.886726, 27.886726, -106.259088, -114.986361],
	    ENX: [46.578726, 38.578726, -69.693094, -78.420367],
	    EOX: [35.452726, 27.452726, -81.088091, -89.815363],
	    EPZ: [35.865726, 27.865726, -102.327089, -111.054362],
	    ESX: [39.693727, 31.693727, -110.520090, -119.247362],
	    EVX: [34.556726, 26.556726, -81.550089, -90.277361],
	    EWX: [33.696728, 25.696728, -93.657091, -102.384364],
	    EYX: [39.090727, 31.090727, -113.189088, -121.916361],
	    FCX: [41.016726, 33.016726, -75.903093, -84.630366],
	    FDR: [38.354727, 30.354727, -94.605089, -103.332362],
	    FDX: [38.627726, 30.627726, -99.258089, -107.985361],
	    FFC: [37.355726, 29.355726, -80.195093, -88.922366],
	    FSD: [47.580729, 39.580729, -92.358087, -101.085360],
	    FSX: [38.566729, 30.566729, -106.826090, -115.553362],
	    FTG: [43.778727, 35.778727, -100.174089, -108.901362],
	    FWS: [36.565729, 28.565729, -92.932092, -101.659365],
	    GGW: [52.198729, 44.198729, -102.253091, -110.980364],
	    GJX: [43.054728, 35.054728, -103.842088, -112.569361],
	    GLD: [43.358728, 35.358728, -97.329088, -106.056361],
	    GRB: [48.490728, 40.490728, -83.740091, -92.467364],
	    GRK: [34.714727, 26.714727, -93.012094, -101.739367],
	    GRR: [46.886728, 38.886728, -81.174089, -89.901362],
	    GSP: [38.875727, 30.875727, -77.849092, -86.576365],
	    GWX: [37.889727, 29.889727, -83.958093, -92.685366],
	    GYX: [47.883726, 39.883726, -65.886095, -74.613367],
	    HDX: [37.068727, 29.068727, -101.751093, -110.478365],
	    HGX: [33.464727, 25.464727, -90.708093, -99.435366],
	    HKI: [25.889727, 17.889727, -155.184084, -163.911356],
	    HKM: [24.121727, 16.121727, -151.410097, -160.137369],
	    HMO: [25.128727, 17.128727, -152.812090, -161.539362],
	    HNX: [40.306726, 32.306726, -115.260088, -123.987360],
	    HPX: [40.729727, 32.729727, -82.914095, -91.641367],
	    HTX: [38.923727, 30.923727, -81.713091, -90.440363],
	    HWA: [23.090727, 15.090727, -151.201097, -159.928370],
	    ICT: [41.646727, 33.646727, -93.072092, -101.799364],
	    ICX: [41.583727, 33.583727, -108.490091, -117.217364],
	    ILN: [43.412725, 35.412725, -79.451090, -88.178362],
	    ILX: [44.143728, 36.143728, -84.966089, -93.693362],
	    IND: [43.700727, 35.700727, -81.909090, -90.636362],
	    INX: [40.167727, 32.167727, -91.193094, -99.920367],
	    IWA: [37.281729, 29.281729, -107.299089, -116.026362],
	    IWX: [45.351728, 37.351728, -81.329088, -90.056361],
	    JAX: [34.476727, 26.476727, -77.331094, -86.058367],
	    JGX: [36.667727, 28.667727, -78.980089, -87.707362],
	    JKL: [41.583727, 33.583727, -78.942094, -87.669367],
	    LBB: [37.646727, 29.646727, -97.443094, -106.170367],
	    LCH: [34.117727, 26.117727, -88.845094, -97.572367],
	    LIX: [34.329727, 26.329727, -85.454088, -94.181361],
	    LNX: [45.950727, 37.950727, -96.205087, -104.932360],
	    LOT: [45.596727, 37.596727, -83.714090, -92.441363],
	    LRX: [44.732729, 36.732729, -112.432092, -121.159365],
	    LSX: [42.691729, 34.691729, -86.312090, -95.039362],
	    LTX: [37.981726, 29.981726, -74.058092, -82.785364],
	    LVX: [41.967726, 33.967726, -81.573091, -90.300364],
	    LWX: [42.967726, 34.967726, -73.107088, -81.834360],
	    LZK: [38.828726, 30.828726, -87.891092, -96.618365],
	    MAF: [35.935728, 27.935728, -97.818094, -106.545367],
	    MAX: [46.073729, 38.073729, -118.345094, -127.072367],
	    MBX: [52.385729, 44.385729, -96.493089, -105.220362],
	    MHX: [38.768728, 30.768728, -72.505090, -81.232363],
	    MKX: [46.960726, 38.960726, -84.180093, -92.907366],
	    MLB: [32.105728, 24.105728, -76.283090, -85.010363],
	    MOB: [34.671728, 26.671728, -83.869089, -92.596362],
	    MPX: [48.841726, 40.841726, -89.194093, -97.921366],
	    MQT: [50.523726, 42.523726, -83.177087, -91.904360],
	    MRX: [40.160727, 32.160727, -79.031091, -87.758364],
	    MSX: [51.033728, 43.033728, -109.615091, -118.342364],
	    MTX: [45.255728, 37.255728, -108.076090, -116.803362],
	    MUX: [41.147726, 33.147726, -117.526094, -126.253367],
	    MVX: [51.520727, 43.520727, -92.954088, -101.681361],
	    MXX: [36.529726, 28.529726, -81.419092, -90.146365],
	    NKX: [36.911726, 28.911726, -112.670091, -121.397364],
	    NQA: [39.337728, 31.337728, -85.502092, -94.229365],
	    OAX: [45.312727, 37.312727, -91.995088, -100.722361],
	    OHX: [40.239729, 32.239729, -82.192094, -90.919367],
	    OKX: [44.858728, 36.858728, -68.493089, -77.220362],
	    OTX: [51.673727, 43.673727, -113.255090, -121.982363],
	    PAH: [41.060728, 33.060728, -84.401094, -93.128367],
	    PBZ: [44.523726, 36.523726, -75.847093, -84.574366],
	    PDT: [49.683729, 41.683729, -114.481088, -123.208361],
	    POE: [35.147728, 27.147728, -88.605089, -97.332362],
	    PUX: [42.451727, 34.451727, -99.810091, -108.537363],
	    RAX: [39.657728, 31.657728, -74.119089, -82.846362],
	    RGX: [43.746729, 35.746729, -115.090089, -123.817362],
	    RIW: [47.058729, 39.058729, -104.106088, -112.833361],
	    RLX: [42.303728, 34.303728, -77.352090, -86.079363],
	    RTX: [49.707727, 41.707727, -118.593088, -127.320361],
	    SFX: [47.098726, 39.098726, -108.314088, -117.041361],
	    SGF: [41.227728, 33.227728, -89.029092, -97.756365],
	    SHV: [36.443727, 28.443727, -89.470094, -98.197367],
	    SJT: [35.363728, 27.363728, -96.121088, -104.848360],
	    SOX: [37.810728, 29.810728, -113.264093, -121.991366],
	    SRX: [39.283728, 31.283728, -89.991090, -98.718363],
	    TBW: [31.697727, 23.697727, -78.031091, -86.758364],
	    TFX: [51.452726, 43.452726, -107.014093, -115.741366],
	    TLH: [34.390728, 26.390728, -79.958093, -88.685366],
	    TLX: [39.325727, 31.325727, -92.907091, -101.634364],
	    TWX: [42.989729, 34.989729, -91.861093, -100.588366],
	    TYX: [47.748728, 39.748728, -71.309091, -80.036364],
	    UDX: [48.117727, 40.117727, -98.458093, -107.185366],
	    UEX: [44.313726, 36.313726, -94.071092, -102.798365],
	    VAX: [34.882727, 26.882727, -78.631090, -87.358363],
	    VBX: [38.830729, 30.830729, -116.025095, -124.752367],
	    VNX: [40.733728, 32.733728, -93.757089, -102.484362],
	    VTX: [38.404726, 30.404726, -114.808092, -123.535364],
	    VWX: [42.252726, 34.252726, -83.353090, -92.080363],
	    YUX: [36.487726, 28.487726, -110.285089, -119.012362]
	}
    ,
            NCR:
	{
	    ABC: [64.836126, 56.735143, -157.447911, -166.285346],
	    ABR: [48.270935, 42.630813, -95.331445, -101.484305],
	    ABX: [37.565402, 32.725802, -104.178817, -109.458380],
	    ACG: [60.462362, 53.230490, -131.576768, -139.466083],
	    AEC: [69.094611, 59.912696, -160.276335, -170.292969],
	    AHG: [64.760721, 56.676584, -146.932121, -155.751179],
	    AIH: [63.345340, 55.564517, -142.049836, -150.538007],
	    AKC: [62.476125, 54.870046, -152.471314, -160.768855],
	    AKQ: [39.456320, 34.502676, -74.301512, -79.705487],
	    AMA: [37.650869, 32.806326, -99.062117, -104.347074],
	    AMX: [27.801339, 23.412682, -78.015200, -82.802825],
	    APD: [69.708050, 60.346936, -142.384420, -152.596545],
	    APX: [47.694961, 42.108886, -81.667973, -87.761873],
	    ARX: [46.559914, 41.076119, -88.194856, -94.177178],
	    ATX: [51.156890, 45.222319, -119.251570, -125.725647],
	    BBX: [42.055142, 36.927532, -118.830465, -124.424220],
	    BGM: [44.866669, 39.525620, -73.066846, -78.893445],
	    BHX: [43.095962, 37.892578, -121.448060, -127.124480],
	    BIS: [49.653803, 43.877695, -97.604147, -103.905355],
	    BLX: [48.688977, 43.008695, -105.502503, -111.699175],
	    BMX: [35.531526, 30.803880, -84.186983, -89.344415],
	    BOX: [44.611412, 39.290917, -68.231075, -74.035252],
	    BRO: [28.111967, 23.712034, -95.015035, -99.814962],
	    BUF: [45.646793, 40.241382, -75.783680, -81.680491],
	    BYX: [26.769267, 22.416820, -79.324984, -84.073108],
	    CAE: [36.329827, 31.559502, -78.512671, -83.716662],
	    CBW: [48.883445, 43.184196, -64.693137, -70.910499],
	    CBX: [46.212850, 40.759237, -113.254345, -119.203741],
	    CCX: [43.536534, 38.299946, -75.142917, -80.855558],
	    CLE: [44.046126, 38.770278, -78.977469, -84.732940],
	    CLX: [35.000793, 30.300659, -78.474017, -83.601437],
	    CRP: [30.016483, 25.543385, -95.067063, -99.946807],
	    CXX: [47.279983, 41.731933, -70.134748, -76.187166],
	    CYS: [43.774627, 38.519820, -101.934965, -107.667481],
	    DAX: [41.024456, 35.968350, -118.914529, -124.430282],
	    DDC: [40.259030, 35.253873, -97.233366, -102.693538],
	    DFX: [31.537218, 27.000535, -97.801321, -102.750428],
	    DGX: [34.616060, 29.935427, -87.426673, -92.532819],
	    DIX: [42.522919, 37.361694, -71.591098, -77.221524],
	    DLH: [49.723338, 43.940150, -89.050276, -95.359208],
	    DMX: [44.377104, 39.075254, -90.826262, -96.610098],
	    DOX: [41.360918, 36.281847, -72.664983, -78.205787],
	    DTX: [45.386963, 40.003250, -80.530535, -86.403676],
	    DVN: [44.253223, 38.961154, -87.689608, -93.462773],
	    DYX: [34.880739, 30.186723, -96.689358, -101.810103],
	    EAX: [41.344348, 36.266422, -91.489605, -97.029162],
	    EMX: [34.220221, 29.559302, -108.083440, -113.168080],
	    ENX: [45.268049, 39.894178, -71.127915, -76.990320],
	    EOX: [33.775385, 29.136179, -82.924306, -87.985258],
	    EPZ: [34.198689, 29.538837, -104.152025, -109.235499],
	    ESX: [38.132964, 33.260177, -112.228685, -117.544453],
	    EVX: [32.857741, 28.261901, -83.409998, -88.423642],
	    EWX: [31.977866, 27.421851, -95.538759, -100.508957],
	    EYX: [37.511861, 32.675344, -114.917500, -120.193701],
	    FCX: [39.497619, 34.541366, -77.566086, -82.972907],
	    FDR: [36.754485, 31.960799, -96.356902, -101.586378],
	    FDX: [37.035320, 32.225933, -101.001324, -106.247928],
	    FFC: [35.727687, 30.989696, -81.977336, -87.146054],
	    FSD: [46.314221, 40.851850, -93.744555, -99.703506],
	    FSX: [36.972564, 32.166701, -108.571250, -113.814009],
	    FTG: [42.355888, 37.206749, -101.731696, -107.348939],
	    FWS: [34.916656, 30.220810, -94.737362, -99.860103],
	    GGW: [51.168531, 45.232679, -103.380867, -109.856342],
	    GJX: [41.605364, 36.509371, -105.428732, -110.987997],
	    GLD: [41.920385, 36.802312, -98.903668, -104.487020],
	    GRB: [47.266366, 41.719552, -85.080423, -91.131492],
	    GRK: [33.019489, 28.416141, -94.867901, -99.889735],
	    GRR: [45.589386, 40.188797, -82.594313, -88.485864],
	    GSP: [37.290540, 32.466688, -79.584424, -84.846808],
	    GWX: [36.276370, 31.508960, -85.724263, -90.925074],
	    GYX: [46.631034, 41.140982, -67.257439, -73.246586],
	    HDX: [35.432951, 30.710463, -103.541806, -108.693611],
	    HGX: [31.740642, 27.195094, -92.595481, -97.554260],
	    HKI: [24.025751, 19.760492, -157.224610, -161.877620],
	    HKM: [22.232697, 18.017639, -153.478052, -158.076296],
	    HMO: [23.253648, 19.010637, -154.864771, -159.493511],
	    HNX: [38.764926, 33.854144, -116.947924, -122.305141],
	    HPX: [39.201352, 34.263669, -84.587233, -89.973797],
	    HTX: [37.339942, 32.513282, -83.446888, -88.712335],
	    HWA: [21.188247, 17.000137, -153.283775, -157.852623],
	    ICT: [40.148426, 35.150486, -94.712308, -100.164606],
	    ICX: [40.083317, 35.089603, -110.132617, -115.580304],
	    ILN: [41.976354, 36.854330, -81.023511, -86.611174],
	    ILX: [42.734628, 37.557962, -86.508656, -92.155928],
	    IND: [42.274980, 37.131669, -83.469881, -89.080765],
	    INX: [38.621577, 33.719508, -92.885691, -98.233402],
	    IWA: [35.651679, 30.917716, -109.083533, -114.247856],
	    IWX: [43.989943, 38.718474, -82.819858, -88.570551],
	    JAX: [32.775853, 28.183797, -79.193071, -84.202587],
	    JGX: [35.021319, 30.320132, -80.782440, -85.911008],
	    JKL: [40.083317, 35.089603, -80.584620, -86.032307],
	    LBB: [36.026638, 31.272717, -99.216633, -104.402729],
	    LCH: [32.408484, 27.833197, -90.716233, -95.707455],
	    LIX: [32.625411, 28.040252, -87.319833, -92.321825],
	    LNX: [44.613495, 39.292831, -97.668979, -103.473339],
	    LOT: [44.244896, 38.953484, -85.193964, -90.966414],
	    LRX: [43.346338, 38.124170, -113.949799, -119.646709],
	    LSX: [41.229419, 36.159366, -87.912906, -93.443873],
	    LTX: [36.370944, 31.598376, -75.821443, -81.027881],
	    LVX: [40.480285, 35.460586, -83.201419, -88.677455],
	    LWX: [41.515232, 36.425511, -74.697158, -80.249582],
	    LZK: [37.242161, 32.421070, -89.627932, -94.887304],
	    MAF: [34.270465, 29.607058, -99.641087, -104.728440],
	    MAX: [44.741629, 39.410681, -119.803367, -125.618947],
	    MBX: [51.366383, 45.408788, -97.608985, -104.108180],
	    MHX: [37.180412, 32.362831, -74.243848, -79.499391],
	    MKX: [45.666620, 40.259546, -85.596774, -91.495400],
	    MLB: [30.352292, 25.865552, -78.202608, -83.097233],
	    MOB: [32.975469, 28.374166, -85.726013, -90.745617],
	    MPX: [47.634156, 42.053696, -90.516042, -96.603816],
	    MQT: [49.401060, 43.650481, -84.406089, -90.679449],
	    MRX: [38.614357, 33.712730, -80.723930, -86.071159],
	    MSX: [49.938341, 44.133104, -110.814230, -117.147215],
	    MTX: [43.890074, 38.626356, -109.571095, -115.313332],
	    MUX: [39.632892, 34.668079, -119.184410, -124.600570],
	    MVX: [50.452087, 44.593261, -94.123948, -100.515394],
	    MXX: [34.879716, 30.185747, -83.225387, -88.346081],
	    NKX: [35.271761, 30.557665, -114.465390, -119.608040],
	    NQA: [37.766212, 32.914970, -87.222459, -92.514723],
	    OAX: [43.949373, 38.681047, -93.487576, -99.234840],
	    OHX: [38.695826, 33.789256, -83.882232, -89.234854],
	    OKX: [43.477288, 38.245202, -70.005377, -75.713107],
	    OTX: [50.613639, 44.737677, -114.415588, -120.825727],
	    PAH: [39.543053, 34.583932, -86.062519, -91.472470],
	    PBZ: [43.129201, 37.923330, -77.373703, -83.052836],
	    PDT: [48.517716, 42.853990, -115.757543, -121.936154],
	    POE: [33.462908, 28.838686, -90.449491, -95.494097],
	    PUX: [40.980987, 35.927825, -101.420136, -106.932676],
	    RAX: [38.095868, 33.225278, -75.828884, -81.142256],
	    RGX: [42.322695, 37.175951, -116.649005, -122.263634],
	    RIW: [45.768926, 40.353231, -105.518058, -111.426090],
	    RLX: [40.827840, 35.784993, -78.967772, -84.469059],
	    RTX: [48.542926, 42.876773, -119.868217, -126.049475],
	    SFX: [45.810690, 40.391455, -109.724124, -115.636017],
	    SGF: [39.715513, 34.745451, -90.684540, -96.106426],
	    SHV: [34.791479, 30.101995, -91.278840, -96.394640],
	    SJT: [33.684193, 29.049381, -97.959704, -103.015862],
	    SOX: [36.195179, 31.432163, -115.032664, -120.228681],
	    SRX: [37.710597, 32.862589, -91.713225, -97.001960],
	    TBW: [29.935868, 25.466004, -79.959829, -84.836044],
	    TFX: [50.380308, 44.529051, -108.188088, -114.571278],
	    TLH: [32.687836, 28.099823, -81.822279, -86.827384],
	    TLX: [37.753853, 32.903328, -94.627849, -99.919331],
	    TWX: [41.538027, 36.446719, -93.450296, -99.004451],
	    TYX: [46.489851, 41.012190, -72.687205, -78.662836],
	    UDX: [46.875849, 41.364130, -99.817600, -105.830384],
	    UEX: [42.911115, 37.721448, -95.606556, -101.268011],
	    VAX: [33.191502, 28.580113, -80.482504, -85.513110],
	    VBX: [37.244225, 32.423012, -117.761868, -123.021373],
	    VNX: [39.205476, 34.267548, -95.430094, -100.816924],
	    VTX: [36.805916, 32.009361, -116.558338, -121.790943],
	    VWX: [40.775070, 35.735764, -84.970705, -90.468131],
	    YUX: [34.836620, 30.144847, -112.092584, -117.210882]
	}
        };
        var xy = yx[product][ridge];
        return { x0: xy[2], x1: xy[3], y0: xy[0], y1: xy[1] };
    }

    //ridge.js
    function City(ridge) {
        var city = {
            ABC: "Bethel, AK",
            ABR: "Aberdeen, SD",
            ABX: "Albuquerque, NM",
            ACG: "Biorka Is., AK",
            AEC: "Nome, AK",
            AHG: "Kenai, AK",
            AIH: "Middleton Is., AK",
            AKC: "King Salmon",
            AKQ: "Norfolk / Richmond / Wakefield, VA",
            AMA: "Amarillo, TX",
            AMX: "Miami, FL",
            APD: "Pedro Dome, AK",
            APX: "Gaylord, MI",
            ARX: "La Crosse, WI",
            ATX: "Seattle / Tacoma, WA",
            BBX: "Beal AFB, CA",
            BGM: "Binghamton, NY",
            BHX: "Eureka, CA",
            BIS: "Bismark, ND",
            BLX: "Billings, MT",
            BMX: "Birmingham, AL",
            BOX: "Boston, MA",
            BRO: "Brownsville, TX",
            BUF: "Buffalo, NY",
            BYX: "Key West, FL",
            CAE: "Columbia, SC",
            CBW: "Caribou, ME",
            CBX: "Boise, ID",
            CCX: "State College, PA",
            CLE: "Cleveland, OH",
            CLX: "Charleston, SC",
            CRP: "Corpus Christi, TX",
            CXX: "Burlington, VT",
            CYS: "Cheyenne, WY",
            DAX: "Sacramento, CA",
            DDC: "Dodge City, KS",
            DFX: "Laughlin AFB, TX",
            DGX: "Jackson / Brandon, MS",
            DIX: "Philadelphia, PA",
            DLH: "Duluth, MN",
            DMX: "Des Moines, IA",
            DOX: "Dover AFB, DE",
            DTX: "Detroit, MI",
            DVN: "Quad Cities, IA",
            DYX: "Dyess AFB, TX",
            EAX: "Kansas City / Pleasant Hill, MO",
            EMX: "Tucson, AZ",
            ENX: "Albany, NY",
            EOX: "Fort Rucker, AL",
            EPZ: "El Paso, TX",
            ESX: "Las Vegas, NV",
            EVX: "Northwest Florida",
            EWX: "Austin / San Antonio, TX",
            EYX: "Edwards AFB, CA",
            FCX: "Blacksburg / Roanoke, VA",
            FDR: "Frederick, OK",
            FDX: "Cannon AFB, NM",
            FFC: "Atlanta, GA",
            FSD: "Sioux falls, SD",
            FSX: "Flagstaff, AZ",
            FTG: "Denver / Boulder, CO",
            FWS: "Dallas / Fort Worth, TX",
            GGW: "Glasgow, MT",
            GJX: "Grand Junction, CO",
            GLD: "Goodland, KS",
            GRB: "Green Bay, WI",
            GRK: "Central Texas",
            GRR: "Grand Rapids / Muskegon, MI",
            GSP: "Greer, SC",
            GWX: "Columbus AFB, MS",
            GYX: "Portland, ME",
            HDX: "Holloman AFB, NM",
            HGX: "Houston / Galveston, TX",
            HKI: "Kauai, HI",
            HKM: "Kohala, HI",
            HMO: "Molokai, HI",
            HNX: "San Joaquin Valley, CA",
            HPX: "Fort Campbell, KY",
            HTX: "Northern Alabama",
            HWA: "South Shore, HI",
            ICT: "Wichita, KS",
            ICX: "Cedar City, UT",
            ILN: "Wilmington, OH",
            ILX: "Central Illinois, IL",
            IND: "Indianapolis, IN",
            INX: "Tulsa, OK",
            IWA: "Phoenix, AZ",
            IWX: "Northern Indiana, IN",
            JAX: "Jacksonville, FL",
            JGX: "Robins AFB, GA",
            JKL: "Jackson, KY",
            LBB: "Lubbock, TX",
            LCH: "Lake Charles, LA",
            LIX: "New Orleans / Baton Rouge, LA",
            LNX: "North Platte, NE",
            LOT: "Chicago, IL",
            LRX: "Elko, NV",
            LSX: "St. Louis, MO",
            LTX: "Wilmington, NC",
            LVX: "Louisville, KY",
            LWX: "Sterling, VA",
            LZK: "Little Rock, AR",
            MAF: "Midland / Odessa, TX",
            MAX: "Medford, OR",
            MBX: "Minot AFB, ND",
            MHX: "Morehead City, NC",
            MKX: "Milwaukee, WI",
            MLB: "Melbourne, FL",
            MOB: "Mobile, AL",
            MPX: "Minneapolis, MN",
            MQT: "Marquette, MI",
            MRX: "Knoxville / Tri Cities, TN",
            MSX: "Missoula, MT",
            MTX: "Salt Lake City, UT",
            MUX: "San Francisco Bay Area, CA",
            MVX: "Fargo, ND",
            MXX: "East Alabama",
            NKX: "San Diego, CA",
            NQA: "Memphis, TN",
            OAX: "Omaha, NE",
            OHX: "Nashville, TN",
            OKX: "Upton, NY",
            OTX: "Spokane, WA",
            PAH: "Paducah, KY",
            PBZ: "Pittsburgh, PA",
            PDT: "Pendleton, OR",
            POE: "Fort Polk, LA",
            PUX: "Pueblo, CO",
            RAX: "Raleigh / Durham, NC",
            RGX: "Reno, NV",
            RIW: "Riverton, WY",
            RLX: "Charleston, WV",
            RTX: "Portland, OR",
            SFX: "Pocatello / Idaho Falls, ID",
            SGF: "Springfield, MO",
            SHV: "Shreveport, LA",
            SJT: "San Angelo, TX",
            SOX: "Santa Ana Mtns, CA",
            SRX: "Western Arkansas / Ft. Smith, AR",
            TBW: "Tampa Bay Area, FL",
            TFX: "Great Falls, MT",
            TLH: "Tallahassee, FL",
            TLX: "Oklahoma City, OK",
            TWX: "Topeka, KS",
            TYX: "Montague, NY",
            UDX: "Rapid City, SD",
            UEX: "Grand Island, NE",
            VAX: "Moody AFB, GA",
            VBX: "Vandenberg AFB, CA",
            VNX: "Vance AFB, OK",
            VTX: "Los Angeles, CA",
            VWX: "Evansville, IN",
            YUX: "Yuma, AZ"
        };
        return city[ridge];
    }
</script>