<%@ Page Language="VB" MasterPageFile="~/empiremaster.master" AutoEventWireup="false" CodeFile="default.aspx.vb" Inherits="Environmental_default" title="Environmental" %>

<asp:Content ID="Content3" ContentPlaceHolderID="RightPlaceHolder" Runat="Server">
     <div style='float:right;margin:0 0 10px 10px'>
        <asp:Image ID="EnvironmentalMain" Imageurl="~/images/landing/landing-environmental.jpg" runat="server" />
    </div>
    <div class="landingtext">
        <br />
        <asp:Label ID="txtList" runat="server" Text=""></asp:Label>        
    </div>
</asp:Content>